@model IEnumerable<Online_Book_Store.Models.Book>
<

@{
    ViewData["Title"] = "Books";
}

<h1>Books List</h1>

@* Card View Görünümü *@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">

            <div class="card mb-3" style="max-width:540px;">

                <div class="row g-0">

                    <div class="col-md-12">
                        @* Card yapısına başlangıç *@
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name

                                    @* 53 *@
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @* Image bölümü *@
                        <img src="@item.ImageURL" width="100%" />
                    </div>
                    <div class="col-md-6">
                        @* Cinema ve diğer bilgiler *@
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Author:</b>@item.Author.Name</p>
                            <p class="card-text"><b>BookCategory:</b>@item.Category </p>
                            <p class="card-text"><b>PublicationDate:</b>@item.PublicationDate</p>
                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                @* Ternary Operator *@
                                @* 69 *@
                                <a class="btn btn-success text-white" 
                                   asp-controller="Orders"
                                   asp-action="AddItemToShoppingCart"
                                   asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Sepete Ekle (Price @item.Price.ToString("c"))

                                </a>
                                <a class="btn btn-outline-primary float-end" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>

                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    }

</div>
@Html.Partial("_CreateItem", "Books")
